.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - var(--width-sidebar));
    /* background-color: #1d93ab; */
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.navbar div ul {
    display: flex;
}

.navbar ul li button {
    margin: 0 10px;
    border-radius: 10px;
    padding: 0.7rem;
    cursor: pointer;
    border: 2px solid transparent;
}

.navbar button:hover {
    border: 2px solid var(--hover);
}

.navbar div>h1 {
    margin-left: 1.3rem;
    font-weight: 610;
    
}