.heading{
    text-align: center;
    padding: 1rem;
}

.box{
    display : flex;
    /* background-color: aqua; */
    border: 1px solid lightgrey;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    justify-content: space-between;
    align-items: center;
    padding : 1rem;
    width : 90%;
    margin: 0 auto;
    border-radius: 5px;
}

.box p{
    font-size: 14px;
    font-weight: 500;
    color:#3d467f;
}

.box div{
    padding : 10px 1px 5px 0px;
    font-size: 20px;
}

.chartContainer{
    display: flex;
    /* background-color: lightgrey; */
    justify-content: space-around;
    align-items: center;
}
